#E {
    position: absolute;
    width: 219px;
    height: 285px;
    left: 506px;
    top: 471px;

    animation: rotate--1-9 2.0s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform-origin: 109.5px 142.5px;
}

#S {
    position: absolute;
    width: 219px;
    height: 285px;
    left: 573px;
    top: 471px;

    animation: rotate--1-9 2.0s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    transform-origin: 109.5x 142.5px;
}

#C {
    position: absolute;
    width: 219px;
    height: 285px;
    left: 629px;
    top: 471px;

    animation: rotate--1-9 2.0s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform-origin: 109.5px 142.5px;
}

#A {
    position: absolute;
    width: 219px;
    height: 285px;
    left: 699px;
    top: 471px;

    animation: rotate--1-9 2.0s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    transform-origin: 109.5px 142.5px;
}

#P {
    position: absolute;
    width: 219px;
    height: 285px;
    left: 764px;
    top: 471px;

    animation: rotate--1-9 2.0s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform-origin: 109.5px 142.5px;
}

#E2 {
    position: absolute;
    width: 219px;
    height: 285px;
    left: 815px;
    top: 471px;

    animation: rotate--1-9 2.0s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    transform-origin: 109.5px 142.5px;
}

#R {
    position: absolute;
    width: 219px;
    height: 285px;
    left: 573px;
    top: 567px;

    animation: rotate--1-9 2.0s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform-origin: 109.5px 142.5px;
}

#O {
    position: absolute;
    width: 219px;
    height: 285px;
    left: 605px;
    top: 567px;

    animation: rotate--1-9 2.0s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    transform-origin: 109.5px 142.5px;
}

#O2 {
    position: absolute;
    width: 219px;
    height: 285px;
    left: 674px;
    top: 567px;

    animation: rotate--1-9 2.0s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform-origin: 109.5px 142.5px;
}

#M {
    position: absolute;
    width: 219px;
    height: 285px;
    left: 753px;
    top: 567px;

    animation: rotate--1-9 2.0s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    transform-origin: 109.5px 142.5px;
}