#cup {
    position: absolute;
    width: 115px;
    height: 145px;
    left: 1010px;
    top: 474px;
}

#twicedrink {
    position: absolute;
    width: 94px;
    height: 90px;
    left: 1020px;
    top: 520px;
}

#straw {
    position: absolute;
    width: 21px;
    height: 85px;
    left: 1030px;
    top: 451px;
}

#bubble1 {
    position: absolute;
    width: 16px;
    height: 17px;
    left: 1040px;
    top: 590px;
}

#bubble2 {
    position: absolute;
    width: 16px;
    height: 17px;
    left: 1037px;
    top: 578px;
}

#bubble3 {
    position: absolute;
    width: 16px;
    height: 17px;
    left: 1053px;
    top: 581px;
}

#bubble4 {
    position: absolute;
    width: 16px;
    height: 17px;
    left: 1058px;
    top: 576px;
}

#bubble5 {
    position: absolute;
    width: 16px;
    height: 17px;
    left: 1058px;
    top: 592px;
}

#bubble6 {
    position: absolute;
    width: 16px;
    height: 17px;
    left: 1071px;
    top: 584px;
}

#bubble7 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1077px;
    top: 593px;
}

#bubble8 {
    position: absolute;
    width: 16px;
    height: 17px;
    left: 1082px;
    top: 583px;
}

#bubble9 {
    position: absolute;
    width: 16px;
    height: 17px;
    left: 1089px;
    top: 574px;
}

#bubble-route {
    position: absolute;
    width: 265px;
    height: 195px;
    left: 769px;
    top: 350px;
}

#membersDrink {
    position: absolute;
    width: 115px;
    height: 145px;
    left: 1010px;
    top: 474px;
}
