#membersCake {
    position: absolute;
    width: 130px;
    height: 76px;
    left: 860px;
    top: 542px; 
}

#plate {
    position: absolute;
    width: 160px;
    height: 57px;
    left: 845px;
    top: 562px;
}

#decoration {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 905px;
    top: 564px;
}

#decoration-route {
    position: absolute;
    width: 194px;
    height: 277.5px;
    left: 719px;
    top: 295px;
}

#decoration-firework {
    display: none;
    position: absolute;
    width: 614px;
    height: 415px;
    left: 456px;
    top: 299px;
}
