#LaburiBody {
    position: absolute;
    width: 195px;
    height: 307px;
    left: 593.43px;
    top: 574px;
}

#LaburiRightArm {
    position: absolute;
    width: 84px;
    height: 130px;
    left: 606.36px;
    top: 664.28px;
}

#LaburiLeftArm {
    position: absolute;
    width: 107px;
    height: 124px;
    left: 686.49px;
    top: 677.64px;
}
