#quiz {
    position: absolute;
    top: -100px;
    display: none;
}

#letter {
    position: absolute;
    width: 600px;
    height: 500px;
    left: 419px;
    top: 267px;
}

#lightstick {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 878px;
    top: 647px;
}

#question {
    display: flex;
    position: absolute;
    width: 309px;
    height: 120px;
    left: 584px;
    top: 353px;
    font-family: Satisfy;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    justify-content: center;
    align-items: center;
}

#choice1 {
    position: absolute;
    width: 305px;
    height: 82px;
    left: 576px;
    top: 470px;
}

#choice1-text {
    position: absolute;
    width: 171px;
    height: 21px;
    left: 646px;
    top: 504px;

    font-family: Satisfy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #000000;
    cursor: pointer;
}

#choice2 {
    position: absolute;
    width: 305px;
    height: 82px;
    left: 576px;
    top: 518px;   
       
}

#choice2-text {
    position: absolute;
    width: 171px;
    height: 21px;
    left: 647px;
    top: 552px;

    font-family: Satisfy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #000000;
    cursor: pointer;
}

#choice3 {
    position: absolute;
    width: 305px;
    height: 82px;
    left: 576px;
    top: 560px;
       
}

#choice3-text {
    position: absolute;
    width: 170px;
    height: 23px;
    left: 647px;
    top: 597px;

    font-family: Satisfy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #000000;
    cursor: pointer;
}


#choice4 {
    position: absolute;
    width: 305px;
    height: 82px;
    left: 576px;
    top: 602px;
}

#choice4-text {
    position: absolute;
    width: 170px;
    height: 23px;
    left: 647px;
    top: 640px;

    font-family: Satisfy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #000000;
    cursor: pointer;
}

#firework {
    display: none;
    position: absolute;
    width: 614px;
    height: 415px;
    left: 456px;
    top: 299px;
}

