#roomContainer {
    background-color: #FFCEB2;
    width: 100%;
    height: 100%;
}

#nayeonRoom {
    position: absolute;
    width: 223px;
    height: 189px;
    left: 78px;
    top: 184px;
}

#jeongyeonRoom {
    position: absolute;
    width: 223px;
    height: 189px;
    left: 359px;
    top: 184px;
}

#momoRoom {
    position: absolute;
    width: 223px;
    height: 189px;
    left: 659px;
    top: 184px;
}

#sanaRoom {
    position: absolute;
    width: 223px;
    height: 189px;
    left: 979px;
    top: 184px;
}

#jihyoRoom {
    position: absolute;
    width: 223px;
    height: 189px;
    left: 1265px;
    top: 184px;
}

#minaRoom {
    position: absolute;
    width: 223px;
    height: 189px;
    left: 78px;
    top: 554px;
}

#dahyunRoom {
    position: absolute;
    width: 223px;
    height: 189px;
    left: 359px;
    top: 554px;
}

#chaeyoungRoom {
    position: absolute;
    width: 223px;
    height: 189px;
    left: 659px;
    top: 554px;
}

#tzuyuRoom {
    position: absolute;
    width: 223px;
    height: 189px;
    left: 979px;
    top: 554px;
}

#twiceRoom {
    position: absolute;
    width: 223px;
    height: 189px;
    left: 1264px;
    top: 554px;
}
