@-webkit-keyframes rotate--7-3 {
  0% {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

@keyframes rotate--7-3 {
  0% {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

@-webkit-keyframes rotate--1-7 {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
}

@keyframes rotate--1-7 {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
}

@-webkit-keyframes rotate--1-9 {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
}

@keyframes rotate--1-9 {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
}

#E {
  position: absolute;
  width: 219px;
  height: 285px;
  left: 506px;
  top: 471px;
  -webkit-animation: rotate--1-9 2.0s infinite;
          animation: rotate--1-9 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 109.5px 142.5px;
          transform-origin: 109.5px 142.5px;
}

#S {
  position: absolute;
  width: 219px;
  height: 285px;
  left: 573px;
  top: 471px;
  -webkit-animation: rotate--1-9 2.0s infinite;
          animation: rotate--1-9 2.0s infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 109.5x 142.5px;
          transform-origin: 109.5x 142.5px;
}

#C {
  position: absolute;
  width: 219px;
  height: 285px;
  left: 629px;
  top: 471px;
  -webkit-animation: rotate--1-9 2.0s infinite;
          animation: rotate--1-9 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 109.5px 142.5px;
          transform-origin: 109.5px 142.5px;
}

#A {
  position: absolute;
  width: 219px;
  height: 285px;
  left: 699px;
  top: 471px;
  -webkit-animation: rotate--1-9 2.0s infinite;
          animation: rotate--1-9 2.0s infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 109.5px 142.5px;
          transform-origin: 109.5px 142.5px;
}

#P {
  position: absolute;
  width: 219px;
  height: 285px;
  left: 764px;
  top: 471px;
  -webkit-animation: rotate--1-9 2.0s infinite;
          animation: rotate--1-9 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 109.5px 142.5px;
          transform-origin: 109.5px 142.5px;
}

#E2 {
  position: absolute;
  width: 219px;
  height: 285px;
  left: 815px;
  top: 471px;
  -webkit-animation: rotate--1-9 2.0s infinite;
          animation: rotate--1-9 2.0s infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 109.5px 142.5px;
          transform-origin: 109.5px 142.5px;
}

#R {
  position: absolute;
  width: 219px;
  height: 285px;
  left: 573px;
  top: 567px;
  -webkit-animation: rotate--1-9 2.0s infinite;
          animation: rotate--1-9 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 109.5px 142.5px;
          transform-origin: 109.5px 142.5px;
}

#O {
  position: absolute;
  width: 219px;
  height: 285px;
  left: 605px;
  top: 567px;
  -webkit-animation: rotate--1-9 2.0s infinite;
          animation: rotate--1-9 2.0s infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 109.5px 142.5px;
          transform-origin: 109.5px 142.5px;
}

#O2 {
  position: absolute;
  width: 219px;
  height: 285px;
  left: 674px;
  top: 567px;
  -webkit-animation: rotate--1-9 2.0s infinite;
          animation: rotate--1-9 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 109.5px 142.5px;
          transform-origin: 109.5px 142.5px;
}

#M {
  position: absolute;
  width: 219px;
  height: 285px;
  left: 753px;
  top: 567px;
  -webkit-animation: rotate--1-9 2.0s infinite;
          animation: rotate--1-9 2.0s infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 109.5px 142.5px;
          transform-origin: 109.5px 142.5px;
}

#star {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 227.24px;
  top: 409px;
  -webkit-transform: rotate(20.26deg);
          transform: rotate(20.26deg);
  -webkit-animation: rotate--1-7 2.0s infinite;
          animation: rotate--1-7 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 48px 48px;
          transform-origin: 48px 48px;
}

#triangle {
  position: absolute;
  width: 103px;
  height: 103px;
  left: 388px;
  top: 532.46px;
  -webkit-transform: rotate(-22.53deg);
          transform: rotate(-22.53deg);
  -webkit-animation: rotate--1-7 2.0s infinite;
          animation: rotate--1-7 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 51.5px 51.5px;
          transform-origin: 51.5px 51.5px;
}

#heart {
  position: absolute;
  width: 87px;
  height: 87px;
  left: 271.05px;
  top: 606px;
  -webkit-transform: rotate(25.94deg);
          transform: rotate(25.94deg);
  -webkit-animation: rotate--1-7 2.0s infinite;
          animation: rotate--1-7 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 43.5px 43.5px;
          transform-origin: 43.5px 43.5px;
}

#circle {
  position: absolute;
  width: 92px;
  height: 92px;
  left: 455px;
  top: 708px;
  -webkit-animation: rotate--1-7 2.0s infinite;
          animation: rotate--1-7 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 46px 46px;
          transform-origin: 46px 46px;
}

#raindrop {
  position: absolute;
  width: 49px;
  height: 95px;
  left: 312.49px;
  top: 815px;
  -webkit-transform: rotate(22.59deg);
          transform: rotate(22.59deg);
  -webkit-animation: rotate--1-7 2.0s infinite;
          animation: rotate--1-7 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 51.5px 51.5px;
          transform-origin: 51.5px 51.5px;
}

#moon {
  position: absolute;
  width: 82px;
  height: 91px;
  left: 929px;
  top: 458.02px;
  -webkit-transform: rotate(-25.28deg);
          transform: rotate(-25.28deg);
  -webkit-animation: rotate--1-7 2.0s infinite;
          animation: rotate--1-7 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 41px 45.5px;
          transform-origin: 41px 45.5px;
}

#square {
  position: absolute;
  width: 78px;
  height: 78px;
  left: 1166px;
  top: 515px;
  -webkit-animation: rotate--1-7 2.0s infinite;
          animation: rotate--1-7 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 39px 39px;
          transform-origin: 39px 39px;
}

#rhombus {
  position: absolute;
  width: 82px;
  height: 82px;
  left: 1060.63px;
  top: 665px;
  -webkit-transform: rotate(35.51deg);
          transform: rotate(35.51deg);
  -webkit-animation: rotate--1-7 2.0s infinite;
          animation: rotate--1-7 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 41px 41px;
          transform-origin: 41px 41px;
}

#ellipse {
  position: absolute;
  width: 82px;
  height: 113px;
  left: 1170.57px;
  top: 806px;
  -webkit-transform: rotate(17.28deg);
          transform: rotate(17.28deg);
  -webkit-animation: rotate--1-7 2.0s infinite;
          animation: rotate--1-7 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 41px 56.5px;
          transform-origin: 41px 56.5px;
}

#roomdepartment {
  position: absolute;
  width: 1257px;
  height: 675px;
  left: 120px;
  top: 344px;
}

#door {
  position: absolute;
  width: 169px;
  height: 219px;
  left: 681px;
  top: 759px;
  cursor: pointer;
}

#logo {
  position: absolute;
  width: 250px;
  height: 237px;
  left: 665px;
  top: 251px;
}

#departmentContainer {
  background-color: #AD00FF;
  width: 100%;
  height: 100%;
}

#nayeonRoom {
  position: absolute;
  width: 223px;
  height: 189px;
  left: 78px;
  top: 184px;
}

#jeongyeonRoom {
  position: absolute;
  width: 223px;
  height: 189px;
  left: 359px;
  top: 184px;
}

#momoRoom {
  position: absolute;
  width: 223px;
  height: 189px;
  left: 659px;
  top: 184px;
}

#sanaRoom {
  position: absolute;
  width: 223px;
  height: 189px;
  left: 979px;
  top: 184px;
}

#jihyoRoom {
  position: absolute;
  width: 223px;
  height: 189px;
  left: 1265px;
  top: 184px;
}

#minaRoom {
  position: absolute;
  width: 223px;
  height: 189px;
  left: 78px;
  top: 554px;
}

#dahyunRoom {
  position: absolute;
  width: 223px;
  height: 189px;
  left: 359px;
  top: 554px;
}

#chaeyoungRoom {
  position: absolute;
  width: 223px;
  height: 189px;
  left: 659px;
  top: 554px;
}

#tzuyuRoom {
  position: absolute;
  width: 223px;
  height: 189px;
  left: 979px;
  top: 554px;
}

#twiceRoom {
  position: absolute;
  width: 223px;
  height: 189px;
  left: 1264px;
  top: 554px;
}

#book {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 76px;
  top: 735px;
}

.book {
  display: none;
}

#painting {
  position: absolute;
  width: 424px;
  height: 209px;
  left: 532px;
  top: 64px;
}

#wall2 {
  position: absolute;
  width: 1015px;
  height: 850px;
  left: 270px;
  top: -80px;
}

#floor {
  position: absolute;
  width: 2025px;
  height: 600px;
  left: -240px;
  top: 650px;
}

#wall1 {
  position: absolute;
  width: 570px;
  height: 1100px;
  left: -226px;
  top: -80px;
}

#wall3 {
  position: absolute;
  width: 600px;
  height: 1205px;
  left: 1200px;
  top: -80px;
}

#room {
  position: absolute;
  width: 1832px;
  height: 1142px;
  left: -128px;
  top: -65px;
}

#cup {
  position: absolute;
  width: 115px;
  height: 145px;
  left: 1010px;
  top: 474px;
}

#twicedrink {
  position: absolute;
  width: 94px;
  height: 90px;
  left: 1020px;
  top: 520px;
}

#straw {
  position: absolute;
  width: 21px;
  height: 85px;
  left: 1030px;
  top: 451px;
}

#bubble1 {
  position: absolute;
  width: 16px;
  height: 17px;
  left: 1040px;
  top: 590px;
}

#bubble2 {
  position: absolute;
  width: 16px;
  height: 17px;
  left: 1037px;
  top: 578px;
}

#bubble3 {
  position: absolute;
  width: 16px;
  height: 17px;
  left: 1053px;
  top: 581px;
}

#bubble4 {
  position: absolute;
  width: 16px;
  height: 17px;
  left: 1058px;
  top: 576px;
}

#bubble5 {
  position: absolute;
  width: 16px;
  height: 17px;
  left: 1058px;
  top: 592px;
}

#bubble6 {
  position: absolute;
  width: 16px;
  height: 17px;
  left: 1071px;
  top: 584px;
}

#bubble7 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1077px;
  top: 593px;
}

#bubble8 {
  position: absolute;
  width: 16px;
  height: 17px;
  left: 1082px;
  top: 583px;
}

#bubble9 {
  position: absolute;
  width: 16px;
  height: 17px;
  left: 1089px;
  top: 574px;
}

#bubble-route {
  position: absolute;
  width: 265px;
  height: 195px;
  left: 769px;
  top: 350px;
}

#membersDrink {
  position: absolute;
  width: 115px;
  height: 145px;
  left: 1010px;
  top: 474px;
}

#membersCake {
  position: absolute;
  width: 130px;
  height: 76px;
  left: 860px;
  top: 542px;
}

#plate {
  position: absolute;
  width: 160px;
  height: 57px;
  left: 845px;
  top: 562px;
}

#decoration {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 905px;
  top: 564px;
}

#flower {
  -webkit-transform-origin: 419px 780px;
          transform-origin: 419px 780px;
}

#flowerpot {
  position: absolute;
  width: 105px;
  height: 113px;
  left: 370px;
  top: 678px;
}

#stem {
  position: absolute;
  width: 94px;
  height: 153px;
  left: 381px;
  top: 561px;
}

#leaf1 {
  position: absolute;
  width: 94px;
  height: 122px;
  left: 368px;
  top: 529px;
  -webkit-animation: rotate--1-7 1.5s infinite;
          animation: rotate--1-7 1.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 30px 118px;
          transform-origin: 30px 118px;
}

#leaf2 {
  position: absolute;
  width: 94px;
  height: 122px;
  left: 384px;
  top: 541px;
  -webkit-animation: rotate--1-7 1.5s infinite;
          animation: rotate--1-7 1.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 118px;
          transform-origin: 46px 118px;
}

#leaf3 {
  position: absolute;
  width: 94px;
  height: 56px;
  left: 368px;
  top: 619px;
  -webkit-animation: rotate--1-7 1.5s infinite;
          animation: rotate--1-7 1.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 47px 54px;
          transform-origin: 47px 54px;
}

#leaf4 {
  position: absolute;
  width: 83px;
  height: 76px;
  left: 395px;
  top: 602px;
  -webkit-animation: rotate--1-7 1.5s infinite;
          animation: rotate--1-7 1.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 42px 74px;
          transform-origin: 42px 74px;
}

#rose-flower {
  position: absolute;
  width: 78px;
  height: 82px;
  left: 380px;
  top: 509px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

/* #rose-flower::after {
    position: absolute;
    left: 0;
    width: 5px;
    height: 5px;
    content: '';
    background-color: #f0f;
    border-radius: 50%;
    transform: translate(46px, 62px);
    z-index: 10;
} */
#bluestar-flower {
  position: absolute;
  width: 78px;
  height: 82px;
  left: 380px;
  top: 509px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

#jeongyeon-flower {
  position: absolute;
  width: 72px;
  height: 47px;
  left: 381px;
  top: 520px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

#hibiscus-flower {
  position: absolute;
  width: 91px;
  height: 75px;
  left: 379px;
  top: 505px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

#hibiscus-flower {
  position: absolute;
  width: 91px;
  height: 75px;
  left: 379px;
  top: 505px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

#sunflower {
  position: absolute;
  width: 98px;
  height: 87px;
  left: 366px;
  top: 493px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

#mina-flower {
  position: absolute;
  width: 63px;
  height: 64px;
  left: 390px;
  top: 510px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

#lily-flower {
  position: absolute;
  width: 69px;
  height: 56px;
  left: 390px;
  top: 530px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

#tulip-flower {
  position: absolute;
  width: 42px;
  height: 56px;
  left: 400px;
  top: 515px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

#tzuyu-flower {
  position: absolute;
  width: 66px;
  height: 83px;
  left: 394px;
  top: 485px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

#sana-flower {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 389px;
  top: 520px;
  -webkit-animation: rotate--7-3 2.0s infinite;
          animation: rotate--7-3 2.0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 46px 62px;
          transform-origin: 46px 62px;
}

#quiz {
  position: absolute;
  top: -100px;
  display: none;
}

#letter {
  position: absolute;
  width: 600px;
  height: 500px;
  left: 419px;
  top: 267px;
}

#lightstick {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 878px;
  top: 647px;
}

#question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 309px;
  height: 120px;
  left: 584px;
  top: 353px;
  font-family: Satisfy;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 33px;
  text-align: center;
  color: #000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#choice1 {
  position: absolute;
  width: 305px;
  height: 82px;
  left: 576px;
  top: 470px;
}

#choice1-text {
  position: absolute;
  width: 225px;
  height: 21px;
  left: 619px;
  top: 504px;
  font-family: Satisfy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  z-index: 10;
}

#choice2 {
  position: absolute;
  width: 305px;
  height: 82px;
  left: 576px;
  top: 518px;
}

#choice2-text {
  position: absolute;
  top: 552px;
  width: 225px;
  height: 21px;
  left: 619px;
  font-family: Satisfy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  z-index: 10;
}

#choice3 {
  position: absolute;
  width: 305px;
  height: 82px;
  left: 576px;
  top: 560px;
}

#choice3-text {
  position: absolute;
  top: 597px;
  width: 225px;
  height: 21px;
  left: 619px;
  font-family: Satisfy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  z-index: 10;
}

#choice4 {
  position: absolute;
  width: 305px;
  height: 82px;
  left: 576px;
  top: 602px;
}

#choice4-text {
  position: absolute;
  top: 640px;
  width: 225px;
  height: 21px;
  left: 619px;
  font-family: Satisfy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  z-index: 10;
}

#firework {
  display: none;
  position: absolute;
  width: 614px;
  height: 415px;
  left: 456px;
  top: 299px;
}

#table {
  position: absolute;
  width: 600px;
  height: 305px;
  left: 700px;
  top: 502px;
}

#nayeonTable {
  position: absolute;
  width: 600px;
  height: 305px;
  left: 700px;
  top: 502px;
}

#jeongyeonTable {
  position: absolute;
  width: 495px;
  height: 305px;
  left: 807px;
  top: 502px;
}

#momoTable {
  position: absolute;
  width: 495px;
  height: 305px;
  left: 807px;
  top: 502px;
}

#sanaTable {
  position: absolute;
  width: 495px;
  height: 305px;
  left: 807px;
  top: 525px;
}

#tzuyuTable {
  position: absolute;
  width: 470px;
  height: 198px;
  left: 830px;
  top: 544px;
}

#jihyoTable {
  position: absolute;
  width: 500px;
  height: 273px;
  left: 800px;
  top: 500px;
}

#minaTable {
  position: absolute;
  width: 451px;
  height: 341px;
  left: 800px;
  top: 403px;
}

#dahyunTable {
  position: absolute;
  width: 495px;
  height: 305px;
  left: 807px;
  top: 502px;
}

#chaeyoungTable {
  position: absolute;
  width: 600px;
  height: 305px;
  left: 700px;
  top: 502px;
}

#LaburiBody {
  position: absolute;
  width: 195px;
  height: 307px;
  left: 593.43px;
  top: 574px;
}

#LaburiRightArm {
  position: absolute;
  width: 84px;
  height: 130px;
  left: 606.36px;
  top: 664.28px;
}

#LaburiLeftArm {
  position: absolute;
  width: 107px;
  height: 124px;
  left: 686.49px;
  top: 677.64px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
}

#container {
  position: absolute;
  height: 1000px;
  width: 1500px;
  overflow: hidden;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  opacity: 0;
}

#roomContainer {
  background-color: #FFCEB2;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */